@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

:root {
  --emerg-bar-h-desktop: 60px;
  --emerg-bar-h-mobile: 140px;
  --navbar-h-desktop: 160px;
  --navbar-h-mobile: 220px;
}

h3 {
  @apply text-2xl font-bold mb-4;
}



/* Media Query for Samsung Fold (Width < 300px) */
@media (max-width: 300px) {
  :root {
    --navbar-h-mobile: 220px; /* Adjust as needed */
  }
  h1 {
    font-size: 24px !important;
    line-height: 28px !important;
  }
  p {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  /* Request a Quote Button */
  .req-button {
    margin-bottom: 80px !important;
  }
  .NAVBAR_FIXED_TOP_BAR {
    height: 120px !important;
  }
}
